<h1>All artists</h1>

<table>
<tbody>
<tr>
<td >picture</td>
<td >name</td>
<td >description</td>
<td >band</td>
<td >update</td>
<td >delete</td>
</tr>
{{#each artist}}
<tr>
<td>{{this.picture}}</td>
<td>{{this.name}}</td>
<td>{{this.description}}</td>
<td>{{this.isBand}}</td>
{{!-- <td>{{this.}}</td>
<td>{{this.}}</td> --}}
</tr>
{{/each}}
</tbody>
</table>