<h1>All artists</h1>

<table>
<tbody>
<tr>
<td >picture</td>
<td >name</td>
<td >description</td>
<td >band</td>
<td >update</td>
<td >delete</td>
</tr>
{{#each }}
<tr>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
</tr>
{{/each}}
</tbody>
</table>