<h1>All labels</h1>

<table>
<tbody>
<tr>
<td>logo</td>
<td>name</td>
<td>country</td>
<td>city</td>
<td>street</td>
<td>street num</td>
<td>zip</td>
<td>update</td>
<td>delete</td>
</tr>
{{#each }}
<tr>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
</tr>
{{/each}}
</tbody>
</table>