<h1>All styles</h1>

<table>
<tbody>
<tr>
<td>color</td>
<td>name</td>
<td>wiki</td>
<td>update</td>
<td>delete</td>
</tr>
{{#each }}
<tr>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
<td>{{this.}}</td>
</tr>
{{/each}}
</tbody>
</table>